<div class="modal-container">
  <nb-card style="height: 83%;width: 63%;">
    <nb-card-header>Edit Why</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <!-- Column 1 -->
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" [(ngModel)]="whyData.title" name="title" placeholder="Title">
              </div>
              <div class="form-group">
                <label>Subpoint 1</label>
                <input type="text" class="form-control" [(ngModel)]="whyData.subpoint1" name="subpoint1" placeholder="Subpoint 1">
              </div>
              <div class="form-group">
                <label>Content 1</label>
                <ckeditor [editor]="Editor" [(ngModel)]="whyData.content1" name="content1"></ckeditor>
              </div>
              <div class="form-group">
                <label>Image 1</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>
                  <input #fileInput1 type="file" style="display:none" (change)="onFileChange($event, 'image1')">
                </div>
                <img class="image-full" [src]="whyData.image1" alt="Image description" style="max-width: 300px; height: auto;">
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <!-- Column 2 -->
              <div class="form-group">
                <label>Subpoint 2</label>
                <input type="text" class="form-control" [(ngModel)]="whyData.subpoint2" name="subpoint2" placeholder="Subpoint 2">
              </div>
              <div class="form-group">
                <label>Content 2</label>
                <ckeditor [editor]="Editor" [(ngModel)]="whyData.content2" name="content2"></ckeditor>
              </div>
              <div class="form-group">
                <label>Image 2</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput2.click()">Upload</button>
                  <input #fileInput2 type="file" style="display:none" (change)="onFileChange($event, 'image2')">
                </div>
                <img class="image-full" [src]="whyData.image2" alt="Image description" style="max-width: 300px; height: auto;">
              </div>
              <div class="form-group">
                <label>Subpoint 3</label>
                <input type="text" class="form-control" [(ngModel)]="whyData.subpoint3" name="subpoint3" placeholder="Subpoint 3">
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <!-- Column 3 -->
              <div class="form-group">
                <label>Content 3</label>
                <ckeditor [editor]="Editor" [(ngModel)]="whyData.content3" name="content3"></ckeditor>
              </div>
              <div class="form-group">
                <label>Image 3</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput3.click()">Upload</button>
                  <input #fileInput3 type="file" style="display:none" (change)="onFileChange($event, 'image3')">
                </div>
                <img class="image-full" [src]="whyData.image3" alt="Image description" style="max-width: 300px; height: auto;">
              </div>
              <div class="form-group">
                <label>Subpoint 4</label>
                <input type="text" class="form-control" [(ngModel)]="whyData.subpoint4" name="subpoint4" placeholder="Subpoint 4">
              </div>
              <div class="form-group">
                <label>Content 4</label>
                <ckeditor [editor]="Editor" [(ngModel)]="whyData.content4" name="content4"></ckeditor>
              </div>
              <div class="form-group">
                <label>Image 4</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput4.click()">Upload</button>
                  <input #fileInput4 type="file" style="display:none" (change)="onFileChange($event, 'image4')">
                </div>
                <img class="image-full" [src]="whyData.image4" alt="Image description" style="max-width: 300px; height: auto;">
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <!-- Buttons -->
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="saveChanges()" type="submit">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>

</div>
<style>
   .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
