<div class="modal-container">
  <nb-card style="height: 83%; width: 63%;">
    <nb-card-header>Edit How</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form">
          <div class="row">
            <!-- Step 10 Content -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Content</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step10" name="step10"></ckeditor>
              </div>
            </div>

            <!-- Step 10 Subpoint R -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Subpoint R</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step10R" name="step10R"></ckeditor>
              </div>
            </div>

            <!-- Step 10 Subpoint K -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Subpoint K</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step10K" name="step10K"></ckeditor>
              </div>
            </div>

            <!-- Step 10 Subpoint B -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Subpoint B</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step10B" name="step10B"></ckeditor>
              </div>
            </div>

            <!-- Step 10 Subpoint D -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Subpoint D</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step10D" name="step10D"></ckeditor>
              </div>
            </div>

            <!-- Step 10 Image 1 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Image 1</label>
                <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>
                <input nbButton style="display: none" type="file" #fileInput1 (change)="onFileChange($event, 'step10img1')" accept="image/*" />
                <div *ngIf="previewImages.step10img1" class="image-preview">
                  <img [src]="previewImages.step10img1" class="responsive-img" />
                </div>
              </div>
            </div>

            <!-- Step 10 Image 2 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Image 2</label>
                <button nbButton status="primary" type="button" (click)="fileInput2.click()">Upload</button>
                <input nbButton style="display: none" type="file" #fileInput2 (change)="onFileChange($event, 'step10img2')" accept="image/*" />
                <div *ngIf="previewImages.step10img2" class="image-preview">
                  <img [src]="previewImages.step10img2" class="responsive-img" />
                </div>
              </div>
            </div>

            <!-- Step 10 Image 3 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Image 3</label>
                <button nbButton status="primary" type="button" (click)="fileInput3.click()">Upload</button>
                <input nbButton style="display: none" type="file" #fileInput3 (change)="onFileChange($event, 'step10img3')" accept="image/*" />
                <div *ngIf="previewImages.step10img3" class="image-preview">
                  <img [src]="previewImages.step10img3" class="responsive-img" />
                </div>
              </div>
            </div>

            <!-- Step 10 Image 4 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 10 Image 4</label>
                <button nbButton status="primary" type="button" (click)="fileInput4.click()">Upload</button>
                <input nbButton style="display: none" type="file" #fileInput4 (change)="onFileChange($event, 'step10img4')" accept="image/*" />
                <div *ngIf="previewImages.step10img4" class="image-preview">
                  <img [src]="previewImages.step10img4" class="responsive-img" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="saveChanges()" type="submit">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>


<style>
  .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
