<div class="dashboard">
  <h2>Production Dashboard</h2>

<!-- Metrics Section -->
<div class="metrics">
  <!-- Today's Issues -->
  <div class="metric">
    <h5>Today's Issues</h5>
    <div class="metric-icon" [ngClass]="getIssuesIndicatorClass()">
      <i class="fas fa-exclamation-triangle"></i>
    </div>
    <h4>{{ todayIssues }}</h4>
  </div>

  <!-- Compliant Lines -->
  <div class="metric">
    <!-- <h5>Compliant Lines</h5> -->
    <canvas #pieChartCanvas></canvas>
    <h4>{{ compliantLinesPercentage }}%</h4>
  </div>




  <div class="metric">
    <h5>Stop Hours / Work Hours</h5>
    <div class="metric-icon clock-icon">
      <i class="far fa-clock"></i>
    </div>
    <h4>{{ stopHours }} / {{ workHours }}</h4>
  </div>


  <!-- Stacking Delay -->
  <div class="metric">
    <h5>Stacking Delay Today</h5>
    <div class="metric-icon" [ngClass]="getStackingDelayIndicatorClass()">
      <i class="fas fa-layer-group"></i>
    </div>
    <h4>{{ stackingDelay }}</h4>
  </div>

  <!-- Untracked Lines -->
  <div class="metric">
    <h5>Untracked Lines</h5>
    <div class="metric-icon" [ngClass]="getUntrackedLinesIndicatorClass()">
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <h4>{{ untrackedLines }}</h4>
  </div>
</div>


  <!-- Charts Section -->
  <div class="charts">
    <!-- Bar Chart for Production Data -->
    <canvas #barChart></canvas>

    <!-- Line Chart for Uptime and Downtime -->
    <canvas #lineChart></canvas>

    <!-- Chart for Lines with Most Issues -->
    <canvas #issuesChart></canvas>
  </div>
</div>
