<div class="header">
  <h1><i class="fas fa-project-diagram"></i> LeanFlowMaster</h1>
  <p>Custom Andon Dashboard Builder</p>
</div>

<div class="container" *ngIf="selectedDashboard; else selectDashboard">
  <h2>{{ selectedDashboard.name }}</h2>
  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column flex-md-row gap-3">
          <button class=" btn-info m-3" (click)="onBackToSelection()">Back to Selection</button>
          <button class=" btn-danger m-3" (click)="onDeleteDashboard(selectedDashboard)">Delete Dashboard</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="alert alert-info d-flex align-items-center">
          <i class="fas fa-sync-alt fa-2x mr-5"></i>
          <div>
            <h5 class="mb-1">Refresh Rate</h5>
            <p class="mb-0">
              <span class="badge bg-primary text-white">{{ selectedDashboard.refreshRate }} seconds</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-4">
    <ngx-dashboard [dashboard]="selectedDashboard" ></ngx-dashboard>

    <div class="row" id="previewContainer">
      <div *ngFor="let station of selectedDashboard.stations" class="col-md-4 mb-4">
        <nb-card [nbTooltip]="station.name" nbTooltipStatus="info" class="dashboard-card" (click)="openStationDetails(station)">
          <nb-card-header class="d-flex align-items-center">
            <i class="fas {{ station.icon }} dashboard-icon me-2"></i>
            <h5 class="mb-0 text-truncate">{{ station.name }}</h5>
          </nb-card-header>
          <nb-card-body class="text-center">
            <p
              class="station-metric"
              [ngClass]="{ 'animated-target': station.updated }"
            >
              {{ station.target_value }}
            </p>
          </nb-card-body>
          <nb-card-footer [ngClass]="{
            'bg-success': station.status === 'normal',
            'bg-warning': station.status === 'warning',
            'bg-danger': station.status === 'critical'
          }" class="text-center">
            <span class="badge badge-large text-light"> {{ station.status }}</span>
          </nb-card-footer>
        </nb-card>
      </div>

    </div>

  </div>


  <ngx-notifications [dashboard]="selectedDashboard"></ngx-notifications>
</div>

<ng-template #selectDashboard>
  <div class="container mt-4">
    <h2 class="text-center mb-4">Select a Dashboard Or create a new Dashboard</h2>
    <div class="container mt-4">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" (click)="onCreateDashboard()">Create Dashboard</button>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let dashboard of dashboards" class="col-md-4 mb-3">
        <div class="card dashboard-card">
          <div class="card-body d-flex flex-column align-items-center">
            <nb-icon icon="settings-outline" pack="eva" class="dashboard-icon mb-3" size="96"></nb-icon> <!-- Bigger Icon -->
            <h4 class="card-title mb-2 text-center">{{ dashboard.name }}</h4>
            <p class="card-text text-center mb-3"><strong> Rate:</strong> {{ dashboard.refreshRate }} seconds</p>
            <button nbButton status="primary" (click)="onSelectDashboard(dashboard)" class="btn-block">Open Dashboard</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

