<div class="modal-container">
  <nb-card style="height: 83%; width: 63%;">
    <nb-card-header>Edit How</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form" #editForm="ngForm" novalidate>
          <div class="row">
            <!-- Step 8 Content -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Content</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step8" name="step8" required #step8="ngModel"></ckeditor>
                <div *ngIf="step8.invalid && (step8.dirty || step8.touched)" class="text-danger">
                  <nb-alert *ngIf="step8.errors.required" status="danger">Step 8 Content is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 8 Subpoint F -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Subpoint F</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step8F" name="step8F" required #step8F="ngModel"></ckeditor>
                <div *ngIf="step8F.invalid && (step8F.dirty || step8F.touched)" class="text-danger">
                  <nb-alert *ngIf="step8F.errors.required" status="danger">Step 8 Subpoint F is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 8 Subpoint M -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Subpoint M</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step8M" name="step8M" required #step8M="ngModel"></ckeditor>
                <div *ngIf="step8M.invalid && (step8M.dirty || step8M.touched)" class="text-danger">
                  <nb-alert *ngIf="step8M.errors.required" status="danger">Step 8 Subpoint M is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 8 Subpoint S -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Subpoint S</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step8S" name="step8S" required #step8S="ngModel"></ckeditor>
                <div *ngIf="step8S.invalid && (step8S.dirty || step8S.touched)" class="text-danger">
                  <nb-alert *ngIf="step8S.errors.required" status="danger">Step 8 Subpoint S is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 8 Subpoint T -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Subpoint T</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step8T" name="step8T" required #step8T="ngModel"></ckeditor>
                <div *ngIf="step8T.invalid && (step8T.dirty || step8T.touched)" class="text-danger">
                  <nb-alert *ngIf="step8T.errors.required" status="danger">Step 8 Subpoint T is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 8 Image 1 -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Image 1</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>
                  <input #fileInput1 type="file" style="display: none;" (change)="onFileChange($event, 'step8img1')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step8img1" alt="Step 8 Image 1 description">
              </div>
            </div>

            <!-- Step 8 Image 2 -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Image 2</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput2.click()">Upload</button>
                  <input #fileInput2 type="file" style="display: none;" (change)="onFileChange($event, 'step8img2')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step8img2" alt="Step 8 Image 2 description">
              </div>
            </div>

            <!-- Step 8 Image 3 -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 8 Image 3</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput3.click()">Upload</button>
                  <input #fileInput3 type="file" style="display: none;" (change)="onFileChange($event, 'step8img3')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step8img3" alt="Step 8 Image 3 description">
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="openConfirmDialog()" type="button" [disabled]="editForm.invalid">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<ng-template #confirmDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body class="text-center px-3 px-sm-4 py-3 py-sm-4">
      <div *ngIf="!showCheckmark">Are you sure you want to save these changes?</div>
      <div *ngIf="showCheckmark" class="checkmark">
        <svg viewBox="0 0 24 24" class="checkmark-icon" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 12l5 5L19 7"/>
        </svg>
        <p class="checkmark-text">Saved!</p>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
      <button nbButton status="success" class="mb-2 mb-sm-0 mr-sm-2" (click)="confirmSaveChanges(ref)">Yes</button>
      <button nbButton status="danger" (click)="ref.close()">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<style>
  .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
