<div class="modal-container">
  <nb-card style="height: 83%; width: 63%;">
    <nb-card-header>Edit How</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form">
          <div class="row">
            <!-- Step 6 Content -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 6 Content</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6" name="step6"></ckeditor>
              </div>
            </div>

            <!-- Step 6 Subpoint O -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 6 Subpoint O</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6O" name="step6O"></ckeditor>
              </div>
            </div>

            <!-- Step 6 Image 1 URL -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 6 Image 1</label>
                <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>

                <input nbButton  style="display:none" status="primary" type="file" #fileInput1  (change)="onFileChange($event, 'step6img1')" accept="image/*" />
                <div *ngIf="previewImages.step6img1" class="image-preview">
                  <img [src]="previewImages.step6img1" class="responsive-img" />
                </div>
              </div>
            </div>

            <!-- Step 6 Subpoint R -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 6 Subpoint R</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6R" name="step6R"></ckeditor>
              </div>
            </div>

            <!-- Step 6 Image 2 URL -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 6 Image 2</label>
                <button nbButton  status="primary" type="button" (click)="fileInput2.click()">Upload</button>

                <input  nbButton style="display:none" status="primary" type="file" #fileInput2 (change)="onFileChange($event, 'step6img2')" accept="image/*" />
                <div *ngIf="previewImages.step6img2" class="image-preview">
                  <img [src]="previewImages.step6img2" class="responsive-img" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="saveChanges()" type="submit">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>


<style>
  .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
