<div class="modal-container">
  <nb-card style="height: 83%; width: 63%;">
    <nb-card-header>Edit How</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form" #editForm="ngForm" novalidate>
          <div class="row">
            <!-- Step 6 Content -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 6 Content</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6" name="step6" required #step6="ngModel"></ckeditor>
                <div *ngIf="step6.invalid && (step6.dirty || step6.touched)" class="text-danger">
                  <nb-alert *ngIf="step6.errors.required" status="danger">Step 6 Content is required!</nb-alert>
                </div>
              </div>
            </div>
            <!-- Step 6 Subpoint O -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 6 Subpoint O</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6O" name="step6O" required #step6O="ngModel"></ckeditor>
                <div *ngIf="step6O.invalid && (step6O.dirty || step6O.touched)" class="text-danger">
                  <nb-alert *ngIf="step6O.errors.required" status="danger">Step 6 Subpoint O is required!</nb-alert>
                </div>
              </div>
            </div>
            <!-- Step 6 Image 1 -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 6 Image 1</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>
                  <input #fileInput1 type="file" style="display: none;" (change)="onFileChange($event, 'step6img1')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step6img1" alt="Step 6 Image 1 description">
              </div>
            </div>
            <!-- Step 6 Subpoint R -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 6 Subpoint R</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step6R" name="step6R" required #step6R="ngModel"></ckeditor>
                <div *ngIf="step6R.invalid && (step6R.dirty || step6R.touched)" class="text-danger">
                  <nb-alert *ngIf="step6R.errors.required" status="danger">Step 6 Subpoint R is required!</nb-alert>
                </div>
              </div>
            </div>
            <!-- Step 6 Image 2 -->
            <div class="col-sm-12 col-md-4">
              <div class="form-group">
                <label>Step 6 Image 2</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput2.click()">Upload</button>
                  <input #fileInput2 type="file" style="display: none;" (change)="onFileChange($event, 'step6img2')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step6img2" alt="Step 6 Image 2 description">
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <!-- Buttons -->
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="openConfirmDialog()" type="button" [disabled]="editForm.invalid">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<ng-template #confirmDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body class="text-center px-3 px-sm-4 py-3 py-sm-4">
      <div *ngIf="!showCheckmark">Are you sure you want to save these changes?</div>
      <div *ngIf="showCheckmark" class="checkmark">
        <svg viewBox="0 0 24 24" class="checkmark-icon" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 12l5 5L19 7"/>
        </svg>
        <p class="checkmark-text">Saved!</p>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
      <button nbButton status="success" class="mb-2 mb-sm-0 mr-sm-2" (click)="confirmSaveChanges(ref)">Yes</button>
      <button nbButton status="danger" (click)="ref.close()">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<style>
  .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
