<nb-card class="notification-card">
  <nb-card-header>
    <h3>Station Notifications</h3>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="newNotifications.length === 0 && inProgressNotifications.length === 0 && resolvedNotifications.length === 0">
      <p>There are no notifications yet.</p>
    </ng-container>
    <!-- New Notifications -->
    <ng-container *ngIf="newNotifications.length > 0">
      <h4>New</h4>
      <nb-list>
        <nb-list-item *ngFor="let notification of newNotifications" class="notification-item" (click)="openDetails(notification)">
          <nb-icon [icon]="getLevelIcon(notification.level)" [ngClass]="getLevelColor(notification.level)" class="notification-icon"></nb-icon>
          <div class="notification-details">
            <span class="notification-station">{{ notification.station }}:</span>
            <span class="notification-message">{{ notification.message }}</span>
            <small class="text-muted notification-time">{{ notification.timestamp | date:'short' }}"></small>
            <small class="notification-status float-right" [ngClass]="notification.status">{{ notification.status }}</small>
          </div>
        </nb-list-item>
      </nb-list>

    </ng-container>
 <!-- In-Progress Notifications -->
 <ng-container *ngIf="inProgressNotifications.length > 0">
  <h4>In Progress</h4>
  <nb-list>
    <nb-list-item *ngFor="let notification of inProgressNotifications" class="notification-item" (click)="openDetails(notification)">
      <nb-icon [icon]="getLevelIcon(notification.level)" [ngClass]="getLevelColor(notification.level)" class="notification-icon"></nb-icon>
      <div class="notification-details">
        <span class="notification-station">{{ notification.station }}:</span>
        <span class="notification-message">{{ notification.message }}</span>
        <small class="text-muted notification-time">{{ notification.timestamp | date:'short' }}"></small>
        <small class="notification-status float-right" [ngClass]="notification.status">{{ notification.status }}</small>
      </div>
    </nb-list-item>
  </nb-list>
</ng-container>

    <!-- Resolved Notifications -->
    <ng-container *ngIf="resolvedNotifications.length > 0">
      <h4>Resolved</h4>
      <nb-list>
        <nb-list-item *ngFor="let notification of resolvedNotifications" class="notification-item" (click)="openDetails(notification)">
          <nb-icon [icon]="getLevelIcon(notification.level)" [ngClass]="getLevelColor(notification.level)" class="notification-icon"></nb-icon>
          <div class="notification-details">
            <span class="notification-station">{{ notification.station }}:</span>
            <span class="notification-message">{{ notification.message }}</span>
            <small class="text-muted notification-time">{{ notification.timestamp | date:'short' }}</small>
            <small class="notification-status float-right" [ngClass]="notification.status">{{ notification.status }}</small>
          </div>
        </nb-list-item>
      </nb-list>

    </ng-container>
  </nb-card-body>
  <!-- <nb-card-footer>
    <button nbButton status="primary" (click)="toggleHistory()">
      {{ showHistoryFlag ? 'Show Less' : 'View History' }}
    </button>
  </nb-card-footer> -->
</nb-card>
