<nb-card class="full-screen-card">
  <nb-card-header class="card-header bg-primary text-white">
    <nb-icon icon="edit-outline" (click)="openEditModal()" style="font-size: 2rem; cursor: pointer;"></nb-icon>
    <h3 class="text-white">9. Iterate and Optimize</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="larger-text">

         <div [innerHTML]="how.step9"></div>

      <ul>
        <li>
          <nb-icon icon="edit-2-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Adjustments:</strong>           <div [innerHTML]="how.step9A"></div>
        </li>
        <li>
          <nb-icon icon="award-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Training:</strong>         <div [innerHTML]="how.step9T"></div>
        </li>
        <li>
          <nb-icon icon="trending-up-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Performance Analysis:</strong>          <div [innerHTML]="how.step9P"></div>
        </li>
        <li>
          <nb-icon icon="refresh-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Continuous Improvement:</strong>      <div [innerHTML]="how.step9C"></div>
        </li>
      </ul>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
              <img [src]="how.step9img1" class="img-fluid rounded img-small hover-pointer" alt="Image 1" (click)="openImagePreview(how.step9img1)">

            </div>
            <div class="col-md-3">
              <img [src]="how.step9img2" class="img-fluid rounded img-small hover-pointer" alt="Image 2" (click)="openImagePreview(how.step9img2)">

            </div>
            <div class="col-md-3">
                <img [src]="how.step9img3" class="img-fluid rounded img-small hover-pointer" alt="Image 3" (click)="openImagePreview(how.step9img3)">

            </div>
            <div class="col-md-3">
              <img [src]="how.step9img4" class="img-fluid rounded img-small hover-pointer" alt="Image 4" (click)="openImagePreview(how.step9img4)">

          </div>
        </div>
    </div>
    </div>
  </nb-card-body>
</nb-card>
