<nb-card class="full-screen-card">
  <nb-card-header class="card-header bg-primary text-white ">
    <nb-icon icon="edit-outline" (click)="openEditModal()" style="font-size: 2rem; cursor: pointer;"></nb-icon>

    <h4 class="text-white">1. Define the Purpose and Scope </h4>

  </nb-card-header>
  <nb-card-body class="card-body">

    <div class="mt-3" [innerHTML]="how.step1"></div>



    <div class="image-container text-center my-3">
      <img [src]="how.step1img" class="img-fluid rounded img-small hover-pointer" alt="Image 1" >

    </div>
  </nb-card-body>
</nb-card>
