<nb-card class="full-screen-card">
  <nb-card-header class="card-header bg-primary text-white">
    <nb-icon icon="edit-outline" (click)="openEditModal()" style="font-size: 2rem; cursor: pointer;"></nb-icon>
    <h3>8. Monitor and Improve</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="larger-text">
      <p>
        {{how.step8}}      </p>
      <ul>
        <li>
          <nb-icon icon="message-circle-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Feedback:</strong>  {{how.step8F}}</li>
        <li>
          <nb-icon icon="bar-chart-2-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Metrics:</strong> {{how.step8M}}</li>
        <li>
          <nb-icon icon="settings-2-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>System Updates:</strong> {{how.step8S}}</li>
        <li>
          <nb-icon icon="people-outline" [options]="{ animation: { type: 'pulse' } }" class="icon-large"></nb-icon>
          <strong>Training:</strong>{{how.step8T}}</li>
      </ul>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <img [src]="how.step8img1" class="img-fluid" alt="Image 1">
            </div>
            <div class="col-md-4">
                <img [src]="how.step8img2" class="img-fluid" alt="Image 2">
            </div>
            <div class="col-md-4">
                <img [src]="how.step8img3" class="img-fluid" alt="Image 3">
            </div>
        </div>
    </div>
    </div>
  </nb-card-body>
</nb-card>
