<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <!-- Step 1 -->
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h4>1. Define the Purpose and Scope</h4>
        <p class="lorem">
          Determine what processes or areas will benefit from Andon visual management. Identify key metrics or parameters you want to monitor.

        </p>
       <div class="nb-stepper-buttons"> <button nbButton  nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 2 -->
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h4>Step content #2</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons"> <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button>
        </div>
      </nb-step>

      <!-- Step 3 -->
      <nb-step label="Third step">
        <h4>Step content #3</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p><div class="nb-stepper-buttons">
        <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 4 -->
      <nb-step label="Fourth step">
        <h4>Step content #4</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons">  <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 5 -->
      <nb-step label="Fifth step">
        <h4>Step content #5</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons"><button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 6 -->
      <nb-step label="Sixth step">
        <h4>Step content #6</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons"><button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 7 -->
      <nb-step label="Seventh step">
        <h4>Step content #7</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons"><button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 8 -->
      <nb-step label="Eighth step">
        <h4>Step content #8</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <div class="nb-stepper-buttons"> <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 9 -->
      <nb-step label="Ninth step">
        <h4>Step content #9</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p><div class="nb-stepper-buttons">
        <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton nbStepperNext>Next</button></div>
      </nb-step>

      <!-- Step 10 -->
      <nb-step label="Tenth step">
        <h4>Step content #10</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p><div class="nb-stepper-buttons">
        <button nbButton nbStepperPrevious>Previous</button>
        <button nbButton disabled nbStepperNext>Next</button></div>
      </nb-step>

    </nb-stepper>
  </nb-card-body>
</nb-card>
