<h1 class="text-center mb-4">Andon Visual Management Method</h1>
<!-- <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mb-5 text-center">
      <button type="button" class="btn btn-primary">Use This Method</button>
    </div>
  </div>
</div> -->
<!-- <nb-tabset > -->

  <!-- <nb-tab tabTitle="Documentation" responsive> -->
    <nb-card>
     
        <nb-tabset>
          <nb-tab tabTitle="Why" tabIcon="question-mark-outline" responsive>
            <ngx-why-layout></ngx-why-layout>

                  </nb-tab>
          <nb-tab tabTitle="What" tabIcon="info-outline" responsive>
          <ngx-what-layout></ngx-what-layout>

                </nb-tab>
          <nb-tab tabTitle="How" tabIcon="settings-outline" responsive>

              <nb-card-body>
              <ngx-stepper></ngx-stepper>
              </nb-card-body>
                  </nb-tab>
          <nb-tab tabTitle="What if" tabIcon="bulb-outline" responsive>

<ngx-whatif-layout></ngx-whatif-layout>

                  </nb-tab>
        </nb-tabset>

    </nb-card>
  <!-- </nb-tab>
  <nb-tab tabTitle="Use Method"  responsive>
   <ngx-use-method></ngx-use-method>
  </nb-tab>
</nb-tabset> -->







