.step {
  margin-bottom: 20px;
}

.step h3 {
  font-size: 18px;
}

.step p {
  font-size: 16px;
}
.nb-stepper-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; // Adjust margin as needed
}

.nb-stepper-buttons button {
  margin: 0 10px; // Adjust button spacing as needed
}
