<nb-card class="full-screen-card">
  <nb-card-header class="card-header bg-primary text-white">
    <nb-icon icon="edit-outline" (click)="openEditModal()" style="font-size: 2rem; cursor: pointer;"></nb-icon>
    <h3 class="text-white">10. Integrate with Continuous Improvement</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="larger-text">
      <p>
        {{how.step10}}      </p>
      <ul>
        <li>
          <nb-icon icon="activity-outline" class="icon-large" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          <strong>Root Cause Analysis:</strong> {{how.step10R}}</li>
        <li>
          <nb-icon icon="settings-2-outline" class="icon-large" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          <strong>Kaizen:</strong> {{how.step10K}} </li>
        <li>
          <nb-icon icon="trending-up-outline" class="icon-large" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          <strong>Benchmarking:</strong> {{how.step10B}}</li>
        <li>
          <nb-icon icon="file-text-outline" class="icon-large" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
          <strong>Documentation:</strong> {{how.step10D}}</li>
      </ul>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <img [src]="how.step10img1" class="img-fluid" alt="Image 1" class="img-fluid rounded img-small">
            </div>
            <div class="col-md-3">
                <img [src]="how.step10img2" class="img-fluid" alt="Image 2" class="img-fluid rounded img-small">
            </div>
            <div class="col-md-3">
                <img [src]="how.step10img3" class="img-fluid" alt="Image 3" class="img-fluid rounded img-small">
            </div>
            <div class="col-md-3">
              <img [src]="how.step10img4" class="img-fluid" alt="Image 3" class="img-fluid rounded img-small">
          </div>
        </div>
    </div>
    </div>
  </nb-card-body>
</nb-card>
