<div class="modal-container">
  <nb-card style="height: 83%; width: 63%;">
    <nb-card-header>Edit How</nb-card-header>
    <nb-card-body>
      <div class="scrollable-body">
        <form class="edit-form" #editForm="ngForm" novalidate>
          <div class="row">
            <!-- Step 9 Content -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Content</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step9" name="step9" required #step9="ngModel"></ckeditor>
                <div *ngIf="step9.invalid && (step9.dirty || step9.touched)" class="text-danger">
                  <nb-alert *ngIf="step9.errors.required" status="danger">Step 9 Content is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 9 Subpoint A -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Subpoint A</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step9A" name="step9A" required #step9A="ngModel"></ckeditor>
                <div *ngIf="step9A.invalid && (step9A.dirty || step9A.touched)" class="text-danger">
                  <nb-alert *ngIf="step9A.errors.required" status="danger">Step 9 Subpoint A is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 9 Subpoint T -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Subpoint T</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step9T" name="step9T" required #step9T="ngModel"></ckeditor>
                <div *ngIf="step9T.invalid && (step9T.dirty || step9T.touched)" class="text-danger">
                  <nb-alert *ngIf="step9T.errors.required" status="danger">Step 9 Subpoint T is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 9 Subpoint P -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Subpoint P</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step9P" name="step9P" required #step9P="ngModel"></ckeditor>
                <div *ngIf="step9P.invalid && (step9P.dirty || step9P.touched)" class="text-danger">
                  <nb-alert *ngIf="step9P.errors.required" status="danger">Step 9 Subpoint P is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 9 Subpoint C -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Subpoint C</label>
                <ckeditor [editor]="Editor" [(ngModel)]="howData.step9C" name="step9C" required #step9C="ngModel"></ckeditor>
                <div *ngIf="step9C.invalid && (step9C.dirty || step9C.touched)" class="text-danger">
                  <nb-alert *ngIf="step9C.errors.required" status="danger">Step 9 Subpoint C is required!</nb-alert>
                </div>
              </div>
            </div>

            <!-- Step 9 Image 1 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Image 1</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput1.click()">Upload</button>
                  <input #fileInput1 type="file" style="display: none;" (change)="onFileChange($event, 'step9img1')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step9img1" alt="Step 9 Image 1 description">
              </div>
            </div>

            <!-- Step 9 Image 2 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Image 2</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput2.click()">Upload</button>
                  <input #fileInput2 type="file" style="display: none;" (change)="onFileChange($event, 'step9img2')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step9img2" alt="Step 9 Image 2 description">
              </div>
            </div>

            <!-- Step 9 Image 3 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Image 3</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput3.click()">Upload</button>
                  <input #fileInput3 type="file" style="display: none;" (change)="onFileChange($event, 'step9img3')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step9img3" alt="Step 9 Image 3 description">
              </div>
            </div>

            <!-- Step 9 Image 4 -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label>Step 9 Image 4</label>
                <div class="input-group">
                  <button nbButton status="primary" type="button" (click)="fileInput4.click()">Upload</button>
                  <input #fileInput4 type="file" style="display: none;" (change)="onFileChange($event, 'step9img4')">
                </div>
                <img class="img-fluid responsive-img" [src]="howData.step9img4" alt="Step 9 Image 4 description">
              </div>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="buttons mt-3 text-right">
        <button nbButton status="primary" (click)="openConfirmDialog()" type="button" [disabled]="editForm.invalid">Save Changes</button>
        <span class="ml-2"></span>
        <button nbButton outline status="danger" (click)="close()">Cancel</button>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<ng-template #confirmDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmation</nb-card-header>
    <nb-card-body class="text-center px-3 px-sm-4 py-3 py-sm-4">
      <div *ngIf="!showCheckmark">Are you sure you want to save these changes?</div>
      <div *ngIf="showCheckmark" class="checkmark">
        <svg viewBox="0 0 24 24" class="checkmark-icon" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke="#28a745" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M5 12l5 5L19 7"/>
        </svg>
        <p class="checkmark-text">Saved!</p>
      </div>
    </nb-card-body>
    <nb-card-footer class="d-flex flex-column flex-sm-row justify-content-center align-items-center">
      <button nbButton status="success" class="mb-2 mb-sm-0 mr-sm-2" (click)="confirmSaveChanges(ref)">Yes</button>
      <button nbButton status="danger" (click)="ref.close()">No</button>
    </nb-card-footer>
  </nb-card>
</ng-template>


<style>
  .scrollable-body {
    max-height: 75vh; /* Adjust max height as needed */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  .scrollable-body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
</style>
